.back-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: var(--padding-md);
    padding: var(--padding-md) var(--padding-lg);
    border: 1px solid var(--color-white);
    color: var(--color-white);
    border-radius: var(--radius-lg);
    background: var(--bg-green);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    transition: all 100ms;
    box-shadow: var(--box-shadow);
}

.back-btn:hover,
.back-btn-schedule:hover {
    transform: scale(1.02);
    cursor: pointer;
    background: var(--bg-green-hover);
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--bg-form-blue);
    position: relative;
}

.form-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: var(--radius-lg);
    border: 1px solid var(--color-white);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(10px);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.form-container label {
    width: 100%;
    padding: var(--padding-md);
    font-size: 18px;
    border-radius: var(--radius-md);
    outline: none;
    text-align: center;
    color: white;
}

input[type="text"] {
    width: 100%;
    padding: var(--padding-md);
    font-size: 18px;
    border-radius: var(--radius-md);
    outline: none;
    text-align: center;
    background: #f0f0f0;
    border: 1px solid var(--color-white);
    box-shadow: var(--box-shadow);
    transition: 0.3s ease-in-out;
}

input[type="text"]:focus {
    background: var(--color-white);
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.3), inset -4px -4px 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.02);
}

.submit-button {
    margin-top: 25px;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
    background: var(--bg-green);
    border-radius: var(--radius-md);
    cursor: pointer;
    border: 1px solid var(--color-white);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease-in-out;
}

.submit-button:hover {
    transform: scale(1.03);
    background: var(--bg-green-hover);
}