nav {
    color: var(--color-white);
    padding: var(--padding-md) var(--padding-lg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: var(--bg-dark-blue);
}

nav .nav-title {
    display: flex;
    flex-direction: column;
    flex: 3 1;
    text-align: center;
}

.nav-title .hindi {
    font-size: var(--font-medium);
}

.nav-title .english {
    font-size: var(--font-large);
}

.nav-title .description {
    font-size: var(--font-base);
}

nav img {
    height: 6rem;
    aspect-ratio: 1/1;
}

.nav-right img {
    flex: 1 1;
}