.site-footer {
    color: white;
    padding: 2rem;
    margin-top: auto;
    background-color: #222;
    font-family: Arial, sans-serif;
    text-align: center;
}

.site-footer p {
    font-size: 1rem;
    color: #bbb;
}