.site-footer {
    color: var(--color-white);
    padding: var(--padding-lg);
    margin-top: auto;
    background-color: var(--color-black);
    font-family: Arial, sans-serif;
    text-align: center;
}

.site-footer p {
    font-size: var(--font-base);
    color: var(--color-muted);
}